.title{
   text-transform: uppercase;
}

.dialogs{
   padding: 10px;
   max-height: calc(100vh - 180px);
   overflow: hidden;
}

.dialogs__wrapper{
   display: grid;
   grid-template: 1fr / 30% 70%;
   height: 95%;
   /* grid-gap: 10px; */
   margin-top: 20px;
}

.dialogs__senders{
   /* border-right: 3px solid grey; */
   height: calc(100vh - 220px);
   overflow-y: auto;
   overflow-x: hidden;
}